<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.984895350843-4f2oqet7qsg16ceung2oqjk8qmm21ue0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb516144160061159</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>516144160061159</string>
	<key>FacebookClientToken</key>
	<string>d4f42df47e4a0cf52053571a7e354ef8</string>
	<key>FacebookDisplayName</key>
	<string>ShutUpApp</string>
</dict>
</plist>
